.config/nvim/plugged/
.config/nvim/autoload/plug.vim

*.swp
.netrwhist
pubring.gpg~
secring.gpg
.secrets
.ssh/id_rsa
.ssh/known_hosts
.ssh/config
sentry_mfa_recovery.txt

tags
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
